footer
	.container
		.left
			p &copy; 2015 All rights 
		.middle
			a(href="#") Terms And Conditions
			|&middot;
			a(href="#") Contact Us
			|&middot;
			a(href="#") Newsletter Sign In
		.right
			a(href="#")
				img(src="lib/xxxx/fb.png", alt="Facebook")
			a(href="#")
				img(src="lib/xxxx/twitter.png", alt="Twitter")
			a(href="#")
				img(src="lib/xxxx/yt.png", alt="YouTube")
			a(href="#")
				img(src="lib/xxxx/pin.png", alt="Pinterest")
			a(href="#")
				img(src="lib/xxxx/ig.png", alt="Instagram")
script(src='assets/js/jquery-2.1.4.min.js')
//script(src='assets/js/jquery-hoverIntent-minified.js')
//script(src='assets/js/owl.carousel.min.js')
//script(src='assets/js/jquery.fancybox.min.js')
script(src='assets/js/functions.js')